<div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mb-5">
    <div *ngFor="let item of items" class="col-3">
        
      <summary (click)="seeArtist(item)" class="card">
        <img [src]="item.images | noImage" class="card-img-top" alt="{{ item.name }}">

        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">
            <span *ngFor="let artist of item.artists" class="badge bg-primary ms-1">
              {{ artist.name }}
            </span>
          </p>
        </div>
      </summary>

    </div>
</div>